/*colours*/
:root{
    --black:#979797;
    --white:#FFFFFF;
    --red:#FF6565;

    /* fonts*/
    --large:32;
    --small:16;
}

/*---------------------------General styles--------------------------*/
*,*::before,*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    position: relative;
}

body,html{
    font-family: "Source Sans 3", sans-serif;
    height: 100%;
    background: url('assets/headphones_hero_1.jpg');
    background-size: cover;
    background-repeat: no-repeat;

}

/*---------------logo*----------------*/
.mylogo{
    width: 120px;
    cursor: pointer;
}
/*---------------------------Nav styles------------------------------*/
.navbar{
    display: flex;
    width: 85%;
    margin: auto;
    padding: 35px 0;
    align-items: center;
    justify-content: space-between;
}

.navlink{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

.navlink a{
    text-decoration: none;
    color: var(--white);
}
/*---------------------------Container styles------------------------*/
.content{
    width: 100%;
    position: absolute;
    top: 65%;
    transform: translateY(-50%);
    text-align: center;
    color:var(--white);
}

.content h1{
    font-size: 28px;
    margin-top: 80px;
}

.content p{
    margin: 20px auto;
    font-weight: 100%;
    line-height: 25px;
}

.paragraph p{
    flex-wrap: wrap;
}
/*---------------------------Button styles---------------------------*/
.button button{
    border: none;
    background:var(--red);
    color:var(--white);
    border-radius: 100px;
    font-size: 12px;
    padding: 10px 20px 10px 20px;
    margin-bottom: 50px;
    cursor: pointer;
}

button:hover{
    background-color: #800609;
}
  
.iconsContainer{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    
}

.icons{
    -webkit-margin-collapse: collapse;
}

.whatwedo{
    width: 100%;
    position: absolute;
    top: 160%;
    transform: translateY(-50%);
    text-align: center;
    color: black;
    background: var(--white);
    padding: 25px 20px 25px 20px;
/*----------------------------image styles---------------------------*/

/*-----------------------------footer styles-------------------------*/
