body {
    display: flex;
    flex-direction: column;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
main {
    display: flex;
    flex-direction: row;
}
aside{
    flex: 1;
    overflow-y: auto;
    order: 1;
    font-size: small;

}
article{
flex: 2;
overflow-y: auto;
}

header{
background-color:#ccd7d5;
height: 90px;
width: auto;
border-style:groove;
}

footer{
    background-color: black;
color: white;
height: 60px;
width: auto;
border-style: solid;
}
h1{
    color: #3B9FCE;
    font-style: italic;
}
h2,h3{
    color: #3B9FCE;
    color:var(--favorite-color)
}

body {
    background-image: url("https://i.pinimg.com/564x/e8/5c/64/e85c649e2b67e2cd482ec69930ac3733.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

:root{
    --favorite-color:black
    --header-text-color:white
}

table {
    border-collapse: collapse;
    border: solid black 1px;
    width: 250px;
    height: 150px;
  }
  td,th {
    border: solid 1px black;
  }